@charset"utf-8";
/*CSSDocument*/
.clear{clear:both;}
.menu_bar-grid{
margin:10px aut 0;
padding:0;
width:98%;
border-top:#CCC 1px solid;
text-align:center;
}
.menu_bar{
margin:0px;
padding:0;
float:none;
display:inline-block;
}
.menu_bar ul{
margin:0;
padding:0;
}
.menu_bar ul li{
margin:0;
padding:0px 5px;
text-decoration:none;
list-style:none;
font-family:'Molengo','sans-serif';
text-transform:uppercase;
float:left;
letter-spacing:2px;
}
.menu_bar ul li a{
margin:0;
padding:8px 10px;
color:#009721;
display:inline;
text-decoration:none;
text-align:center;
list-style:none;
font-size:18px;
text-shadow:1px -3px 4px rgba(255,99,255,0.7);
}

/*+++++++++++++++++++++DropDowns++++++++++++++++++++++++++++++++++++-*/





.menu_bar .drop_down_product{display:none;}
.menu_bar .drop_down_link{display:none;}
.menu_bar .drop_down_profile{display:none;}
.menu_bar .drop_down_file{display:none;}
/*++++++++++DropBoxesallsame+++++++++++*/
/*++++++++++DropBoxesallsame+++++++++++*/
.drop-box{
/*margin:040px00;*/
padding:10px;
/*width:450px;*/
max-width:350px;
float:right;
position:static;
z-index:900;
}
.drop-box h2{
margin:0;
padding:5px0;
font-size:20px;
color:#999;
font-weight:normal;
text-transform:uppercase;
letter-spacing:5px;
text-shadow:0px6px6pxrgba(55,0,55,0.6);
z-index:900;
}
/*++++++++++DropBoxesend+++++++++++*/
.product_range_box{
padding:005px;
}

/*++++++++++++++++++++++++++ProductRange+++++++++++++++++++++++++++++++*/
.product_range p{
margin:3px 3px;
padding:0;
font-size:12px;
text-transform:uppercase;
color:#666;
min-height:15px;
}
.product_range p a{
color:#0a0;
display:block;
text-decoration:none;
padding:0!important;
letter-spacing:0!important;
z-index:7;
}

.product_range_box{
/*margin-bottom:8px;*/
padding:0 0 5px;
/*border-bottom:#CCCsolid1px;*/
/*border-style:solid;*/
/*height:110px;*/
}
.product_range{
/*margin:15px15px00px;*/
padding:0;
/*padding-bottom:26px;
padding-top:26px;*/
border-color:#070;
border-style:solid;
border-width:4px;
/*border-radius:3px;*/
/*margin-bottom:-20px;*/
margin:0px 0px -4px 0px;
/*float:left;*/
}

/*+++++++++++++++ThisInnersettingremovesproduct_range-inner:hover+++++++++++++++*/
/*+++++++++++++++Setmarginmoreandwillallowtwo-tonelinks+++++++++++++++*/
.product_range-inner{
/*margin:15px15px00px;*/
padding:13px 1px 14px 1px;
border-style:none;
/*margin-bottom:-20px;*/
margin:-8px -10px -8px -10px;
/*float:left;*/
}


.product_range-pic{
padding:0;
margin:-12px 0 0px 0px;
border:0px solid #E4E4E4;
float:left;
position:absolute;
z-index:5;
overflow:hidden;
}
.product_range-pic img{
width:40px;
height:40px;
}
.product_range-text{
/*margin:15px15px00px;*/
padding:0 5px 0px 70px;
text-shadow:1px 1px 2px rgba(255,99,255,0.6);
color:#cec;
font-size:12px;
/*border-style:solid;*/
/*float:left;*/
}






/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++Midrange+++*/
/*MobileLandscapeSizetoTabletPortrait(devicesandbrowsers)*/
@media only screen and(min-width:480px)and(max-width:767px){
.logo{
margin:0;
padding:16px 0 16px 16px;
float:left;
text-align:center;
width:45%;
}
.logo img{width:100%;}

/*MobileNevigation-------------*/

.menu_bar-grid{
margin:0px auto 2px;
padding:0;
width:98%;
border-bottom:#626 1px solid;
border-top:none;
text-align:center;
}
.menu_bar{
margin:0px;
padding:0;
float:none;
}
.menu_bar ul li{
padding:0;
}



}



/*++++++++++++++++++++++++++++++++++++++++++++++++++MobileMin-Width:320px----------------------*/
@media only screen and(max-width:479px){
.logo{
margin:0;
padding:16px 0 16px 16px;
float:none;
text-align:center;
}
.logo img{width:60%;}

.menu_bar-grid{
margin:10px auto 2px;
padding:0;
width:98%;
border-top:none;
border-bottom:#626 1px solid;
text-align:center;
}
.menu_bar{
margin:0px;
padding:0;
float:none;
}




}
